footer {
  background-color: var(--pink);
  color: var(--cream);
  padding: 2rem 0;

  a {
    color: inherit;
		text-decoration: none;
		&:after {
			background-color: white;
		}
  }

  p {
    font-size: 1rem;
		&.small {
			margin: 0;
			font-size: 0.875rem;
		}
  }


.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 2rem;
}
	.social-links {
		font-family: var(--header-font-family);
		text-transform: none;

		display: flex;
		gap: 1rem;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
		}
		svg {
			display: block;
			width: auto;
			height: 22px;
		}

	}

}
